.blogItem-wrap {
    display: flex;
    flex-direction: column;

}
.cover{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: .5rem;
}
.blogItem-wrap h3 {
    margin: .5rem 0 1rem 0;
    flex: 1;
}
.blogItem-wrap p{
    position: relative;
    max-height: 50px;
    overflow: hidden;
    font-size: .8rem;
    padding-right: .6rem;
    color: #a9a9a9;
}
footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}
 footer .blogItem-footer {
    display: flex;
    align-items: center;

 }
 footer .blogItem-footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
 }
 footer p {
    font-size: .6rem;
    color: #a9a9a9;
    font-weight: 600;
 }
 .link{
    text-decoration: none;
 }